.action-form__header {
  border: 1px solid #f5dfb4;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
  background: #faebccef;
}

.action-form__header svg {
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

.action-form__header svg:hover {
  color: red;
  background-color: #000;
}

.action-form__form {
  border-left: 1px solid #faebcc;
  border-right: 1px solid #faebcc;
  border-bottom: 1px solid #faebcc;
  padding: 1rem 2rem 0.5rem;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0.3rem;
}

.form-group .form-name {
  display: block;
  width: 100%;
}

.form-group.form-errors label {
  color: red;
}

.form-group.form-errors input {
  color: red;
  border: 1px solid red;
}

.form-group.form-errors span {
  font-size: 0.7rem;
  color: red;
}

.form-btn {
  display: flex;
  justify-content: center;
}

.form-btn button {
  margin: 0 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .action-form {
    width: 60%;
  }
  .form-wrap {
    grid-template-columns: 100%;
  }
  .left-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .form-btn-left button {
    justify-content: center;
    margin-bottom: 0.3rem;
  }
}

@media screen and (max-width: 500px) {
  .action-form {
    width: 80%;
  }
}
