.container {
  max-width: 992px;
  margin: 0 auto;
}

.container .todo-header {
  border-bottom: 1px solid #ddd;
}

.container .todo-header h1 {
  font-size: 2.3rem;
  text-transform: capitalize;
  font-weight: 450;
  text-align: center;
  margin: 1rem 0;
}

.form-wrap {
  display: grid;
  grid-template-columns: 31.333333% 65.66667%;
  grid-column-gap: 2rem;
  margin: 2rem auto;
}

.form-wrap.hidden-form {
  grid-template-columns: 1fr;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 880px;
  }
}

@media only screen and (max-width: 780px) {
  .form-wrap {
    grid-template-columns: 1fr;
  }
}
